<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userService" class="cn.edu.zjut.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"/>
	</bean>
	<bean id="roleService" class="cn.edu.zjut.service.impl.RoleServiceImpl">
		<property name="roleMapper" ref="roleMapper"/>
	</bean>
	<bean id="menuService" class="cn.edu.zjut.service.impl.MenuServiceImpl">
		<property name="menuMapper" ref="menuMapper"/>
	</bean>
	<bean id="infoService" class="cn.edu.zjut.service.impl.InfoServiceImpl">
		<property name="infoMapper" ref="infoMapper"/>
	</bean>
	<bean id="programService" class="cn.edu.zjut.service.impl.ProgramServiceImpl">
		<!-- <property name="programMapper" ref="programMapper"/> -->
	</bean>
	<bean id="channelService" class="cn.edu.zjut.service.impl.ChannelServiceImpl">
		<!-- <property name="channelMapper" ref="channelMapper"/> -->
	</bean>
	<bean id="originService" class="cn.edu.zjut.service.impl.OriginServiceImpl">
		<!-- <property name="channelMapper" ref="channelMapper"/> -->
	</bean>
</beans>
